<header class="container container-large margin-bottom">
	<nav class="nav-wrap">
		<a class="logo" href="{{ .Site.BaseURL }}">
			<svg style="height:.9em;width:.9em;margin-bottom:-2px;" viewBox="0 0 133 132" xmlns="http://www.w3.org/2000/svg"><title></title><g transform="translate(4 3)" stroke="currentColor" fill="none" fill-rule="evenodd"><ellipse stroke-width="10" cx="62.5" cy="62.714" rx="46.651" ry="46.659"/><path d="M62.5 1.41v123.54M124.217 64.4H.783M106.178 19.503l-87.356 87.355M105.279 107.683L17.997 20.402" stroke-width="8" stroke-linecap="round"/></g></svg>
			{{ .Site.Title }}
		</a>
		<div class="nav-menu" id="nav-menu">
			<ul class="nav">
				{{ partial "nav-items.html" . }}
			</ul>
		</div>
	</nav>
</header>