<h2 id="faq">Frequently Asked Questions</h2>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>What's the difference between Extra Credit and the Academy I already attended?</strong></summary>
	<p><strong>Just like Vanilla JS Academy,</strong> each project includes a template to get you started, some things to think about as you work on the project, and an explanation of how I approached my solution.</p>
	<p><strong><em>Unlike</em> Academy,</strong> the projects don't include lessons. You get to practice breaking problems into smaller parts, get more comfortable researching methods and approaches, and take your JavaScript skills to the next level.</p>
	<p>These projects are self-paced, with a more relaxed approach than Academy. There are no office hours, but there <em>is</em> a private Slack channel.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Will I learn anything new beyond what I learned in the Academy workshop?</strong></summary>
	<p>There's definitely some overlap in content, but that's on purpose. <em>Extra Credit</em> is designed to reinforce the skills you already learned with more projects and deepen your problem solving abilities.</p>
	<p>With <em>Extra Credit</em>, you get to break problems into smaller parts, and get more comfortable researching different approaches and solutions. It more closely mimics development in the real world.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>How much of a time commitment does <em>Extra Credit</em> involve?</strong></summary>
	<p>As much or as little as you want to put into it.</p>
	<p>Unlike Academy, this is a self-paced program. You can jump around based on which projects are most interesting to you, work on a bunch all at once, or work at them here and there when you have time.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>I have a disability. Will I be able to follow the lessons and join office hours?</strong></summary>
	<p>Every lesson includes a text-based version as well as streaming video with captions. If there's anything else I can do to make the program a better experience for you, please email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Academy:%20Accessibility">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Does <em>Extra Credit</em> cover new ES6 methods?</strong></summary>
	<p>Yes. It includes modern JavaScript methods and browser APIs that are supported in all modern browsers. That generally means ES6 and beyond.</p>
	<p>While Academy focused on fundamental skills, <em>Extra Credit</em> goes further, and explores some advanced methods and approaches that you probably won't need on every project, but are really useful when you do need them.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>What happens after the program? Do I still have access to the lessons?</strong></summary>
	<p>You get lifetime access to all of the lessons from the program.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do you offer any discounts?</strong></summary>
	<p class="margin-bottom-small">Absolutely! There are three discount programs available:</p>
	<ol class="list-spaced">
		<li><strong>Student Discount.</strong> This applies to anyone in any type of schooling, including evening classes and coding bootcamps. <a href="/student-discount/">Learn more about student discounts.</a></li>
		<li><strong>Under-Represented Groups in Tech.</strong> I've had a lot of helping getting where I am, and I want to pay it forward. If you're a member of an under-represented group in tech, you can get special pricing. <a href="/underrepresented-group-discount/">Learn more about discounts for under-represented groups in tech.</a></li>
		<li><strong>Location-Based Pricing.</strong> I totally get that in some countries salaries and cost of living are such that the Vanilla JS Academy is unaffordable. Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Academy:%20Exchange%20Rate&body=I%20live%20in%20a%20{country}.%20Can%20I%20have%20a%20discount%20to%20make%20the%20Vanilla%20JS%20Academy%20more%20affordable%20for%20me?%20Thanks!">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>, and I'll send you a discount to make it fair for where you live.</li>
	</ol>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>How do I access the training program materials?</strong></summary>
	<p>After you sign up, visit <a href="https://courses.gomakethings.com/join">the Student Portal</a> and create an account with the email address you used to make your purchase.</p>
	<p>The program has fixed start and end dates, so not all material will be available immediately. You'll get a few emails from me when the program is about to start.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any special tools or equipment for the projects?</strong></summary>
	<p>All you need to go through the program and work on the projects is a modern web browser and a text editor (I recommend <a href="https://code.visualstudio.com/">VS Code</a>). The program materials come in a mix streaming, captioned HD video and plain text, so you can read and watch any device you own.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do I need any prior knowledge or experience?</strong></summary>
	<p>You should have attended the Vanilla JS Academy, or have comparable real-world experience. The projects assume you have some baseline knowledge from the workshop already.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Are there any rules or requirements for participating in the Slack channel?</strong></summary>
	<p>Yes. You must be at least 18 years old, and read and agree to follow the <a href="https://gomakethings.com/slack-guidelines/">Code of Conduct</a>.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>Do you have a refund policy?</strong></summary>
	<p>Absolutely! If you’re not 100% satisfied with the <em>Extra Credit</em> projects, email me at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Academy:%20Refund%20Request">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a> and I’ll give you a full refund.</p>
</details>

<details class="margin-bottom-small">
	<summary class="margin-bottom-small"><strong>I have another question.</strong></summary>
	<p>No problem! Send me an email at <a href="mailto:&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;?subject=Vanilla%20JS%20Academy:%20General%20Questions">&#099;&#104;&#114;&#105;&#115;&#064;&#103;&#111;&#109;&#097;&#107;&#101;&#116;&#104;&#105;&#110;&#103;&#115;&#046;&#099;&#111;&#109;</a>.</p>
</details>