{{- $data := getJSON $.Site.Params.api -}}
{{- $ctas := index $data "ctas" -}}
{{- $academy := index $data.products "academy" -}}
{{- $dates := index $academy "dates" -}}
{{- $prices := index $academy "prices" -}}
{{- $details := index $academy (.Get "for") -}}


{{- if and (ge (now.Format "20060102") $dates.registrationStart) (le (now.Format "20060102") $dates.registrationEnd) -}}

	{{- .Scratch.Set "code" "" -}}
	{{- if eq (.Get "for") "essentials" -}}
		{{- .Scratch.Set "code" "ALUMNI" -}}
	{{- else if eq (.Get "for") "advanced" -}}
		{{- .Scratch.Set "code" "ADVANCEDALUM" -}}
	{{- end -}}

	{{ if ne (.Scratch.Get "code") "" }}<p><mark><em><strong>Save almost 90% as an Academy Alum!</strong> Because you've gone through the program once already, you can save almost 90% on registration if you want to take the program again. Use the code <code>{{ .Scratch.Get "code" }}</code> at checkout.</em></mark></p>{{ end }}

	<p><a class="btn btn-large edd-buy-now-button" href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $details.base }}&edd_options[price_id]={{ $details.id }}&discount={{ .Scratch.Get "code"}}'>Join now for just <del>{{ $prices.standard }}</del> {{ $prices.alumni }}</a></p>

	{{ partial "sales-numbers.html" . }}

{{- else -}}

	<p><strong>Academy registration is currently closed.</strong></p>

	{{- if le (sub (int (now.Format "20060102")) $dates.registrationStart) 14 -}}
	<p>Registration opens in the next week or two.</p>
	{{- else -}}
	<p>New sessions of the Vanilla JS Academy run in January, April, and&nbsp;October.</p>
	{{- end -}}

{{- end -}}