{{- $data := getJSON $.Site.Params.api -}}
{{- $ctas := index $data "ctas" -}}
{{- $academy := index $data.products "academy" -}}
{{- $dates := index $academy "dates" -}}
{{- $prices := index $academy "prices" -}}
{{- $details := index $academy (.Get "for") -}}

{{- if and (ge (now.Format "20060102") $dates.registrationStart) (le (now.Format "20060102") $dates.registrationEnd) -}}

{{- $apiPrices := index $data "prices" -}}
{{- .Scratch.Set "apiPrice" "" -}}
{{- .Scratch.Set "apiPriceMonthly" "" -}}
{{- .Scratch.Set "apiDiscount" "" -}}
{{- if isset $apiPrices "academy" -}}
	{{- .Scratch.Set "apiPrice" $apiPrices.academy.price -}}
	{{- .Scratch.Set "apiPriceMonthly" $apiPrices.academy.priceMonthly -}}
	{{- .Scratch.Set "apiDiscount" $apiPrices.academy.discount -}}
{{- end -}}

{{- .Scratch.Set "cta" "" -}}
{{- if isset $ctas "academy-buy" -}}
	{{ .Scratch.Set "cta" ((index $ctas "academy-buy") | safeHTML) }}
{{- end -}}

<p>{{ if .Inner }}{{ .Inner }} {{ end }}You get...</p>

<ul>
	<li>6 weeks of short, focused lessons</li>
	<li>18 amazing JavaScript projects</li>
	<li>70+ lessons</li>
	<li>Video office hours</li>
	<li>Exclusive Slack access</li>
</ul>

<p><strong>The next session runs from {{ $dates.start }} to {{ $dates.end }}.</strong> After joining, you'll get an email with the details.</p>

{{- .Scratch.Get "cta" -}}

<p class="margin-bottom-medium"><a class="btn btn-large btn-block edd-buy-now-button" href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $details.base }}&edd_options[price_id]={{ $details.id }}{{ if ne (.Scratch.Get "apiDiscount") "" }}&discount={{ .Scratch.Get "apiDiscount" }}{{ end }}'>Join now for just {{ if ne (.Scratch.Get "apiPrice") "" }}{{ .Scratch.Get "apiPrice" | safeHTML }}{{ else }}{{ $prices.standard | safeHTML }}{{ end }}</a></p>
<p class="text-small text-center">Or <a href='https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $details.base }}&edd_options[price_id]={{ $details.monthly }}{{ if ne (.Scratch.Get "apiDiscount") "" }}&discount={{ .Scratch.Get "apiDiscount" }}{{ end }}'>make three monthly payments of {{ if ne (.Scratch.Get "apiPriceMonthly") "" }}{{ .Scratch.Get "apiPriceMonthly" | safeHTML }}{{ else }}{{ $prices.monthly | safeHTML }}{{ end }}</a></p>

{{ partial "sales-numbers.html" . }}

{{- else -}}

{{- if le (sub (int (now.Format "20060102")) $dates.registrationStart) 14 -}}
<p><strong>The next session of the Vanilla JS Academy runs from {{ $dates.start }} to {{ $dates.end }}.</strong></p>
<p>Registration opens on {{ time.Format "Monday, January 2" (time (printf "%s-%s-%s" (slicestr (string $dates.registrationStart) 0 4) (slicestr (string $dates.registrationStart) 4 6) (slicestr (string $dates.registrationStart) 6 8))) }}. To get notified when registration opens <em>and</em> get exclusive discounts, enter your email&nbsp;below.</p>
{{- else -}}
<p><strong>New sessions of the Vanilla JS Academy run in January, April, and&nbsp;October.</strong></p>
<p>Be the first to find out when registration opens back up <em>and</em> get exclusive discounts. Enter your email&nbsp;below.</p>
{{- end -}}

{{ partial "mailchimp-form.html" }}

{{ partial "sales-numbers.html" . }}

{{- end -}}