{{- $data := getJSON $.Site.Params.api -}}
{{- $workshops := $data.products.workshops -}}

{{- $ctas := index $data "ctas" -}}
{{- $academy := index $data.products "academy" -}}
{{- $dates := index $academy "dates" -}}
{{- $prices := index $academy "prices" -}}
{{- $details := index $academy (.Get "for") -}}

{{- if and (ge (now.Format "20060102") $workshops.dates.start) (le (now.Format "20060102") $workshops.dates.end) -}}

<p class="margin-bottom-medium">{{ if .Inner }}<strong>{{ .Inner }}</strong> {{ end }}You get instant access to...</p>
<ul class="list-unstyled list-columnsx">
	<li>✓ 6 weeks of short, focused lessons</li>
	<li>✓ 18 amazing JavaScript projects</li>
	<li>✓ 100+ lessons</li>
	<li>✓ Lifetime access to all workshop content</li>
	<li>✓ Certificate of Completion</li>
	<li>✓ <strong>Bonus:</strong> Q&amp;A videos</li>
	<li>✓ <strong>Bonus:</strong> 18 <em>more</em> projects</li>
	<li>✓ <strong>Bonus:</strong> Exclusive Discord community</li>
</ul>

{{- if isset $data.ctas "academy-buy" -}}
	{{ (index $data.ctas "academy-buy") | safeHTML }}
{{- end -}}

{{- $id := (index $workshops.ids (.Get "for")) -}}
{{- $.Scratch.Set "onetime" $workshops.prices.onetime.price -}}
{{- $.Scratch.Set "monthly" $workshops.prices.monthly.price -}}
{{- $.Scratch.Set "discount" "" -}}

{{- if isset $data.prices "workshops" -}}
	{{- .Scratch.Set "onetime" $data.prices.workshops.onetime -}}
	{{- .Scratch.Set "monthly" $data.prices.workshops.monthly -}}
	{{- .Scratch.Set "discount" $data.prices.workshops.discount -}}
{{- end -}}

<div class="row text-center">
	<div class="grid-half callout-cta">
		<div class="margin-bottom-small">
			<em>One-Time Payment</em><br>
			<strong class="text-large">{{ $.Scratch.Get "onetime" | safeHTML }}</strong>
		</div>
		<a class="btn btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $id }}&edd_options[price_id]={{ $workshops.prices.onetime.id }}{{ if ne (.Scratch.Get "discount") "" }}&discount={{ .Scratch.Get "discount" }}{{ end }}">Join Now</a>
	</div>
	<div class="grid-half grid-start-first callout-cta">
		<div class="margin-bottom-small">
			<em>3 Monthly Payments</em><br>
			<strong class="text-large">{{ $.Scratch.Get "monthly" | safeHTML }}</strong>
		</div>
		<a class="btn btn-secondary btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id={{ $id }}&edd_options[price_id]={{ $workshops.prices.monthly.id }}{{ if ne (.Scratch.Get "discount") "" }}&discount={{ .Scratch.Get "discount" }}{{ end }}">Join Now + Pay Monthly</a>
	</div>
</div>
{{ partial "sales-numbers.html" . }}

{{- else -}}

{{- if le (sub $workshops.dates.start (int (now.Format "20060102"))) 14 | and (gt $workshops.dates.end (now.Format "20060102")) -}}
<p class="margin-bottom-small"><strong>The next session of the Vanilla JS Academy starts on {{ time.Format "Monday, January 2" (time (printf "%s-%s-%s" (slicestr (string $workshops.dates.start) 0 4) (slicestr (string $workshops.dates.start) 4 6) (slicestr (string $workshops.dates.start) 6 8))) }}.</strong></p>
<p>To get notified when registration opens <em>and</em> get exclusive discounts, enter your email&nbsp;below.</p>
{{- else -}}
<p><strong>New sessions of the Vanilla JS Academy run in January, April, July, and&nbsp;October.</strong></p>
<p>Be the first to find out when registration opens back up <em>and</em> get exclusive discounts. Enter your email&nbsp;below.</p>
{{- end -}}
{{ partial "mailchimp-form.html" }}
{{ partial "sales-numbers.html" . }}

{{- end -}}