<details>
	<summary class="margin-bottom"><em><strong>Not sure which workshop is right for you?</strong> Answer two short questions to find out...</em></summary>

	<form data-submit="quiz">
		<fieldset>
			<legend><strong>1. Have you attended a previous Vanilla JS Academy workshop?</strong></legend>

			<label>
				<input type="radio" name="previous" value="yes">
				Yes
			</label>
			<label>
				<input type="radio" name="previous" value="no">
				No
			</label>
		</fieldset>


		<fieldset>
			<legend><strong>2. How comfortable do you feel with the following concepts?</strong> <em>DOM manipulation, APIs, asynchronous JS, manipulating arrays and objects, browser storage.</em></legend>

			<label>
				<input type="radio" name="skills" value="very">
				Very comfortable
			</label>
			<label>
				<input type="radio" name="skills" value="somewhat">
				Somewhat comfortable
			</label>
			<label>
				<input type="radio" name="skills" value="not">
				Not at all
			</label>
		</fieldset>

		<button class="btn">Get your workshop recommendation</button>

		<div><em id="notify" aria-live="polite"></em></div>
	</form>
</details>
<form>