{{ if and (ge (now.Format "20060102") 20180413) (lt (now.Format "20060102") 20180421) }}
<p><a class="btn btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id=28868&edd_options[price_id]=1">Join now for just <del>$499</del> $369</a></p>
{{ else }}
<p><a class="btn btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id=28868&edd_options[price_id]=1">Join now for just $499</a></p>
{{ end }}