{{ if le (now.Format "20060102") 20180924 }}<p><strong>The next session runs from September 24 to November 16.</strong> After joining, you'll get an email with the details.</p>
<p><a class="btn btn-large btn-block edd-buy-now-button" href="https://gomakethings.com/checkout?edd_action=add_to_cart&download_id=28868&edd_options[price_id]=2">Join now for just <span data-price="academy" data-product="price">$649</span></a></p>
{{ else }}
<h3>The Vanilla JS Academy returns in January 2019.</h3>
<p>Registration is currently closed, but you can be the first to find out when registration opens back up <em>and</em> get exclusive discounts. Enter your email&nbsp;below.</p>

{{ partial "mailchimp-form.html" }}
{{ end }}